<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.ACCAStdRecSQLConnectionString"
            connectionString="Data Source=SQLEXPRESS;Initial Catalog=ACCA;User ID=sqlu;Password=abc"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>